<html>
    <head>
        <title>TanTán</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="eje_favicon.ico">
        <link rel="stylesheet" href="./css/bootstrap.min.css">
        <link rel="stylesheet" href="./style/main.css">
    </head>
    <body class="container">
        <nav id="nav" class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="tttexto.png" height="20"></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul id="nav-menu" class="nav navbar-nav"></ul>
            <form id="nav-actions" class="navbar-form navbar-right"></form>
        </div>
        </nav>
        <div id="main" class="container">
        </div>
    </body>
    <script id="template-content-logged-out" type="text/x-template">
        <div class="col-sm-offset-4 col-sm-4 text-center">
            <div class="row">
                <div class="jumbotron text-center">
                    <p><img class="img-responsive" src="eje_acuicola_brand.png" width="250"></p>
                    <p><img class="img-responsive" src="eje_acuicola_texto.png" width="250"></p>
                    <p>Para un manejo automatizado de granjas acuícolas.</p>
                </div>
            </div>
        </div>
    </script>
    <script id="template-navbar" type="text/html">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="./tttexto.png" height="20"></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul id="nav-menu" class="nav navbar-nav">
            </ul>
            <section id="nav-actions">
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Nombre de usuario..." required autofocus>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Contraseña..." required>
                </div>
                <button class="btn btn-primary" type="submit">Ingresar <span class="glyphicon glyphicon-user"></span></button>

            </form>
            </section>
        </div>
    </script>
    <script id="template-nav-logged-in-admin" type="text/x-template">
        <a href="#editar/granjas" class="btn btn-info boton-agregar" role="button">Añadir granja al sistema <span class="glyphicon glyphicon-plus"></span></a>
        <button class="btn btn-danger boton-salir" type="submit">Salir <span class="glyphicon glyphicon-user"></span></button>
    </script>
    <script id="template-nav-logged-in" type="text/x-template">
        <button class="btn btn-danger boton-salir" type="submit">Salir <span class="glyphicon glyphicon-user"></span></button>
    </script>
    <script id="template-nav-logged-out" type="text/x-template">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Nombre de usuario..." required autofocus>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Contraseña..." required>
        </div>
        <!--div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div-->
        <button class="btn btn-primary" type="submit">Ingresar <span class="glyphicon glyphicon-user"></span></button>
    </script>
    <script id="template-nav-menu-admin" type="text/x-template">
        <li><a href="#granjas">Granjas</a></li>
        <li><a href="#usuarios">Usuarios</a></li>
    </script>
    <script id="template-nav-menu" type="text/x-template">
        <li><a href="#granjas">Granjas</a></li>
    </script>
    <script id="template-granja-pill" type="text/x-template">
        <a href="#granjas/<%= _id %>"><%= nombre %></a>
    </script>
    <script id="template-granja-main" type="text/x-template">
        <div id="side" class="col-sm-4">
        </div>
        <div id="content" class="col-sm-8">
        </div>
    </script>
    <script id="template-granja-content" type="text/x-template">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h1 class="panel-title"><%= nombre %></h1>
                </div>
                <div class="panel-body">
                    <% if ((!_.isUndefined(razonsocial)) && (razonsocial != '')) { %>
                        <p><span class="label label-info"><%= razonsocial %></span></p>
                        <% } %>
                    <% if ((!_.isUndefined(contacto)) && (contacto != '')) { %>
                        <p><span class="label label-info"><%= contacto %></span></p>
                        <% } %>
                    <% if ((!_.isUndefined(direccion)) && (direccion != '')) { %>
                        <p><span class="label label-info"><%= direccion %></span></p>
                        <% } %>
                    <% if ((!_.isUndefined(localidad)) && (localidad != '')) { %>
                        <p><span class="label label-info"><%= localidad %></span></p>
                        <% } %>
                    <% if ((!_.isUndefined(municipio)) && (municipio != '')) { %>
                        <p><span class="label label-info"><%= municipio %></span></p>
                        <% } %>
                    <% if ((!_.isUndefined(estado)) && (estado != '')) { %>
                        <p><span class="label label-info"><%= estado %></span></p>
                        <% } %>
                </div>
            </div>
            <% if (isAdmin()) { %>
            <div class="panel panel-info">
                <div class="panel-body">
                    <div class="btn-toolbar">
                        <div class="btn-group btn-group-justified">
                            <a href="#editar/granjas/<%= _id %>" class="btn btn-warning boton-editar">Editar <span class="glyphicon glyphicon-pencil"></span></a>
                            <a href="#borrar/granjas/<%= _id %>" class="btn btn-danger boton-borrar">Eliminar <span class="glyphicon glyphicon-remove"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <% }%>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h1 class="panel-title">Estanques <%= nombre %></h1>
                </div>
                <div class="panel-body">
                    <ul id="listado-estanques" class="nav nav-pills">
                    </ul>
                </div>
            </div>
    </script>
    <script id="template-granja-editar" type="text/x-template">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Modificar datos de la granja</h4>
                </div>
                <div class="modal-body">
                    <form id="edit-granja" class="form-horizontal">
                        <div class="form-group">
                            <label for="nombre" class="col-lg-3 control-label">Nombre</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="text" name="nombre" placeholder="Nombre del sistema acuícola" value="<%= nombre %>">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="contacto" class="col-lg-3 control-label">Contacto</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="text" name="contacto" placeholder="Nombre de persona a contactar" value="<%= contacto %>">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="direccion" class="col-lg-3 control-label">Dirección</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="text" name="direccion" placeholder="Dirección del sistema" value="<%= direccion %>">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="localidad" class="col-lg-3 control-label">Localidad</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="text" name="localidad" placeholder="Localidad" value="<%= localidad %>">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="municipio" class="col-lg-3 control-label">Municipio</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="text" name="municipio" placeholder="Municipio" value="<%= municipio %>">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="estado" class="col-lg-3 control-label">Estado</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="text" name="estado" placeholder="Entidad federativa" value="<%= estado %>">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="razonsocial" class="col-lg-3 control-label">Razón social</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="text" name="razonsocial" placeholder="Nombre de la organización" value="<%= razonsocial %>">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="reset" class="btn btn-danger" data-dismiss="modal">Cerrar <span class="glyphicon glyphicon-remove"></span></button>
                                <button type="submit" class="btn btn-primary">Guardar cambios <span class="glyphicon glyphicon-plus"></span></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </script>
    <script id="template-estanque-view" type="text/x-template">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4>Datos del estanque <%= nombre %></h4>
            </div>
            <% if (hasInfo()) { %>
            <div class="panel-body">
                <div class="thumbnail">
                    <div>
                    <% if ((!_.isUndefined(forma)) && (forma != '')) { %>
                        <span class="label label-info"><%= forma %></span>
                        <% } %>
                    <% if ((!_.isUndefined(material)) && (material != '')){ %>
                        <span class="label label-info"><%= material %></span>
                        <% } %>
                    <% if ((!_.isUndefined(volumen)) && (volumen != '')) { %>
                        <span class="label label-info"><%= volumen+' litros' %></span>
                        <% } %>
                    <% if ((!_.isUndefined(dimensiones)) && (dimensiones != '')) { %>
                        <span class="label label-info"><%= dimensiones %></span>
                        <% } %>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
        <% if (isAdmin()) { %>
        <div class="panel panel-info">
            <div class="panel-body">
                    <div class="btn-toolbar">
                        <div class="btn-group btn-group-justified">
                            <a href="#editar/granjas/<%= granja_id %>/estanques/<%= _id %>" class="btn btn-warning boton-editar">Editar <span class="glyphicon glyphicon-pencil"></span></a>
                            <a href="#borrar/granjas/<%= granja_id %>/estanques/<%= _id %>" class="btn btn-danger boton-borrar">Eliminar <span class="glyphicon glyphicon-remove"></span></a>
                        </div>
                    </div>
            </div>
        </div>
        <% } %>
        <div id="operaciones" class="panel panel-info">
            <div class="panel-heading">
                Actividad del estanque <%= nombre %>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#nav-alimentacion" data-toggle="tab">Alimentación</a></li>
                    <li><a href="#nav-calidad" data-toggle="tab">Calidad del agua</a></li>
                    <li><a href="#nav-biometria" data-toggle="tab">Biometría</a></li>
                </ul>
            </div>
            <div class="panel-body">
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="nav-alimentacion">
                    </div>
                    <div class="tab-pane" id="nav-calidad">
                    </div>
                    <div class="tab-pane" id="nav-biometria">
                    </div>
                </div>
            </div>
        </div>
    </script>
    <script id="template-estx-alimentacion" type="text/x-template">
        <div id="alim-reportes" class="panel panel-primary">
            <div class="panel-heading">Información relevante</div>
            <div class="panel-body">
                <div class="panel panel-info">
                    <div class="panel-heading">Ayer: Alimentación - <span class="fecha">2/2/2014</span></div>
                    <div class="panel-body">
                        <div class="col-md-4">
                            <h4>Ración uno</h4>
                            <p><span class="label label-default">Alimento 20 kg</span></p>
                            <p><span class="label label-default">Proteina 30 %</span></p>
                        </div>
                        <div class="col-md-4">
                            <h4>Ración dos</h4>
                            <p><span class="label label-default">Alimento 20 kg</span></p>
                            <p><span class="label label-default">Proteina 30 %</span></p>
                        </div>
                        <div class="col-md-4">
                            <h4>Ración tres</h4>
                            <p><span class="label label-default">Alimento 20 kg</span></p>
                            <p><span class="label label-default">Proteina 30 %</span></p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-info">
                    <div class="panel-heading">Hoy: Calidad de agua - <span class="fecha">3/2/2014</span></div>
                    <div class="panel-body">
                        <div class="col-md-4">
                            <p><span class="label label-default">pH 7.3</span></p>
                            <p><span class="label label-default">Amonio 0.09 mg/ml</span></p>
                        </div>
                        <div class="col-md-4">
                            <p><span class="label label-default">Temperatura 24 °C</span></p>
                            <p><span class="label label-default">TSS 15 mg/ml</span></p>
                        </div>
                        <div class="col-md-4">
                            <p><span class="label label-default">OD 5.4 %</span></p>
                            <p><span class="label label-default">Mortandad 0 </span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="alim-accion" class="panel panel-primary">
            <div class="panel-heading">
                Registro de las raciones de alimento diario
            </div>
            <div class="panel-body">
                <form id="form_alim" class="evento">
                    <input type="hidden" name="tipo" value="alimentacion">
                    <h4>Primera ración</h4>
                    <div class="form-group">
                        <div class="col-sm-6">
                            <label for="racion[0][alimento]" class="control-label">Alimento</label>
                            <div class="input-group">
                                <input type="text" name="racion[0][alimento]" class="form-control" placeholder="Ejem.: 22.0" value="<%= racion[0].alimento %>">
                                <span class="input-group-addon">kg</span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label for="racion[0][proteina]" class="control-label">Proteina</label>
                            <div class="input-group">
                                <input type="text" name="racion[0][proteina]" class="form-control" placeholder="Ejem.: 10" value="<%= racion[0].proteina %>">
                                <span class="input-group-addon">%</span>
                            </div>
                        </div>
                    </div>
                    <br>
                    <h4>Segunda ración</h4>
                    <div class="form-group">
                        <div class="col-sm-6">
                            <label for="racion[1][alimento]" class="control-label">Alimento</label>
                            <div class="input-group">
                                <input type="text" name="racion[1][alimento]" class="form-control" placeholder="Ejem.: 22.0" value="<%= racion[1].alimento %>">
                                <span class="input-group-addon">kg</span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label for="racion[1][proteina]" class="control-label">Proteina</label>
                            <div class="input-group">
                                <input type="text" name="racion[1][proteina]" class="form-control" placeholder="Ejem.: 10" value="<%= racion[1].proteina %>">
                                <span class="input-group-addon">%</span>
                            </div>
                        </div>
                    </div>
                    <br>
                    <h4>Tercera ración</h4>
                    <div class="form-group">
                        <div class="col-sm-6">
                            <label for="racion[2][alimento]" class="control-label">Alimento</label>
                            <div class="input-group">
                                <input type="text" name="racion[2][alimento]" class="form-control" placeholder="Ejem.: 22.0" value="<%= racion[2].alimento %>">
                                <span class="input-group-addon">kg</span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label for="racion[2][proteina]" class="control-label">Proteina</label>
                            <div class="input-group">
                                <input type="text" name="racion[2][proteina]" class="form-control" placeholder="Ejem.: 10" value="<%= racion[2].proteina %>">
                                <span class="input-group-addon">%</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sx-12">
                            <div class="btn-toolbar">
                                <div class="btn-group">
                                    <button class="btn btn-primary" type="submit">Guardar registro <span class="glyphicon glyphicon-plus"></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </script>
    <script id="template-estx-calidad" type="text/x-template">
        <div class="panel panel-primary">
            <div class="panel-heading">Información relevante</div>
            <div class="panel-body">
                <div class="panel panel-info">
                    <div class="panel-heading">Ayer: Alimentación  - <span class="fecha">2/2/2014</span></div>
                    <div class="panel-body">
                        <div class="col-md-4">
                            <h4>Ración uno</h4>
                            <p><span class="label label-default">Alimento 20 kg</span></p>
                            <p><span class="label label-default">Proteina 30 %</span></p>
                        </div>
                        <div class="col-md-4">
                            <h4>Ración dos</h4>
                            <p><span class="label label-default">Alimento 20 kg</span></p>
                            <p><span class="label label-default">Proteina 30 %</span></p>
                        </div>
                        <div class="col-md-4">
                            <h4>Ración tres</h4>
                            <p><span class="label label-default">Alimento 20 kg</span></p>
                            <p><span class="label label-default">Proteina 30 %</span></p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-info">
                    <div class="panel-heading">Ayer: Calidad de agua - <span class="fecha">2/2/2014</span></div>
                    <div class="panel-body">
                        <div class="col-md-4">
                            <p><span class="label label-default">pH 7.1</span></p>
                            <p><span class="label label-default">Amonio 0.1 mg/ml</span></p>
                        </div>
                        <div class="col-md-4">
                            <p><span class="label label-default">Temperatura 21 °C</span></p>
                            <p><span class="label label-default">TSS 15 mg/ml</span></p>
                        </div>
                        <div class="col-md-4">
                            <p><span class="label label-default">OD 7.1 %</span></p>
                            <p><span class="label label-default">Mortandad 0 </span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                Registro de parámetros de calidad del agua
            </div>
            <div class="panel-body">
                <form id="form_mues" class="">
                    <input type="hidden" name="tipo" value="muestra">
                    <div class="form-group">
                        <div class="col-sm-4">
                            <label for="pH" class="control-label">pH</label>
                            <div class="input-group">
                                <input type="text" name="pH" class="form-control" placeholder="Ejem.: 7.0" value="<%= '' %>">
                                <span class="input-group-addon">&nbsp;</span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label for="temperatura" class="control-label">Temperatura</label>
                            <div class="input-group">
                                <input type="text" name="temperatura" class="form-control" placeholder="Ejem: 24.3" value="<%= '' %>">
                                <span class="input-group-addon">°C</span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label for="od" class="control-label">OD</label>
                            <div class="input-group">
                                <input type="text" name="od" class="form-control" placeholder="Ejem: 5.5" value="<%= '' %>">
                                <span class="input-group-addon">%</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">
                            <label for="amonio" class="control-label">Amonio</label>
                            <div class="input-group">
                                <input type="text" name="amonio" class="form-control" placeholder="0.7" value="<%= '' %>">
                                <span class="input-group-addon">mg/ml</span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label for="tss" class="control-label">TSS</label>
                            <div class="input-group">
                                <input type="text" name="tss" class="form-control" placeholder="0.3" value="<%= '' %>">
                                <span class="input-group-addon">mg/ml</span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label for="mortandad" class="control-label">Mortandad</label>
                            <div class="input-group">
                                <input type="text" name="mortandad" class="form-control" placeholder="Ejem: 5" value="<%= '' %>">
                                <span class="input-group-addon">peces</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">
                            <label for="recambio" class="control-label">Recambio</label>
                            <input type="text" name="recambio" class="form-control" placeholder="0" value="<%= '' %>">
                        </div>
                        <div class="col-sm-8">
                            <label for="observaciones" class="control-label">Observaciones</label>
                            <textarea name="observaciones" class="form-control" placeholder="Observaciones de este muestreo" value=""></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button class="btn btn-primary" type="submit">Guardar registro <span class="glyphicon glyphicon-plus"></span></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </script>
    <script id="template-estx-biometria" type="text/x-template">
        <div class="panel panel-primary">
            <div class="panel-heading">Información relevante</div>
            <div class="panel-body">
                <div class="panel panel-info">
                    <div class="panel-heading">Última biometría - <span class="fecha">1/15/2014</span></div>
                    <div class="panel-body">
                        <div class="col-md-4">
                            <h4>Talla #1</h4>
                            <p><span class="label label-default">Peso promedio: 230 g</span></p>
                            <p><span class="label label-default">Conteo total de peces: 60</span></p>
                        </div>
                        <div class="col-md-4">
                            <h4>Talla #2</h4>
                            <p><span class="label label-default">Peso promedio: 347 g</span></p>
                            <p><span class="label label-default">Conteo total de peces: 127</span></p>
                        </div>
                        <div class="col-md-4">
                            <h4>Talla #3</h4>
                            <p><span class="label label-default">Peso promedio: 380 g</span></p>
                            <p><span class="label label-default">Conteo total de peces: 13</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                Registro de biometría
            </div>
            <div class="panel-body">
                <form id="form_biom" class="">
                    <input type="hidden" name="tipo" value="biometria">
                    <h4>Talla #1</h4>
                    <div class="form-group">
                        <div class="col-sm-6">
                            <label for="talla[0][peso]" class="control-label">Peso promedio de la talla #1</label>
                            <div class="input-group">
                                <input type="text" name="talla[0][peso]" class="form-control" placeholder="0" value="<%= '' %>">
                                <span class="input-group-addon">g</span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label for="talla[0][cantidad]" class="control-label">Cantidad</label>
                            <div class="input-group">
                                <input type="text" name="talla[0][cantidad]" class="form-control" placeholder="0" value="0">
                                <span class="input-group-addon">peces</span>
                            </div>
                            <div class="btn-group btn-group-justified btn-group-lg">
                                <a href="" class="btn btn-success boton-mas"><span class="glyphicon glyphicon-plus"></span></a>
                                <a href="" class="btn btn-danger boton-menos"><span class="glyphicon glyphicon-minus"></span></a>
                            </div>
                            <div class="form-group talla-tanto">
                                <label class="radio-inline">
                                    <input type="radio" name="tanto-2" value="1"> 1
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="tanto-2" value="5" checked> 5
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="tanto-2" value="10"> 10
                                </label>
                            </div>
                        </div>
                    </div>
                    <br>
                    <h4>Talla #2</h4>
                    <div class="form-group">
                        <div class="col-sm-6">
                            <label for="talla[1][peso]" class="control-label">Peso promedio de la talla #2</label>
                            <div class="input-group">
                                <input type="text" name="talla[1][peso]" class="form-control" placeholder="0" value="<%= '' %>">
                                <span class="input-group-addon">g</span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label for="talla[1][cantidad]" class="control-label">cantidad</label>
                            <div class="input-group">
                                <input type="text" name="talla[1][cantidad]" class="form-control" placeholder="0" value="0">
                                <span class="input-group-addon">peces</span>
                            </div>
                            <div class="btn-group btn-group-justified btn-group-lg">
                                <a href="" class="btn btn-success boton-mas"><span class="glyphicon glyphicon-plus"></span></a>
                                <a href="" class="btn btn-danger boton-menos"><span class="glyphicon glyphicon-minus"></span></a>
                            </div>
                            <div class="form-group talla-tanto">
                                <label class="radio-inline">
                                    <input type="radio" name="tanto-0" value="1"> 1
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="tanto-0" value="5" checked> 5
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="tanto-0" value="10"> 10
                                </label>
                            </div>
                        </div>
                    </div>
                    <br>
                    <h4>Talla #3</h4>
                    <div class="form-group">
                        <div class="col-sm-6">
                            <label for="talla[2][peso]" class="control-label">Peso promedio de la talla #3</label>
                            <div class="input-group">
                                <input type="text" name="talla[2][peso]" class="form-control" placeholder="0" value="<%= '' %>">
                                <span class="input-group-addon">g</span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label for="talla[2][cantidad]" class="control-label">Cantidad</label>
                            <div class="input-group">
                                <input type="text" name="talla[2][cantidad]" class="form-control" placeholder="0" value="0">
                                <span class="input-group-addon">peces</span>
                            </div>
                            <div class="btn-group btn-group-justified btn-group-lg">
                                <a href="" class="btn btn-success boton-mas"><span class="glyphicon glyphicon-plus"></span></a>
                                <a href="" class="btn btn-danger boton-menos"><span class="glyphicon glyphicon-minus"></span></a>
                            </div>
                            <div class="form-group talla-tanto">
                                <label class="radio-inline">
                                    <input type="radio" name="tanto-1" value="1"> 1
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="tanto-1" value="5" checked> 5
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="tanto-1" value="10"> 10
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sx-12">
                            <button class="btn btn-primary" type="submit">Guardar registro <span class="glyphicon glyphicon-plus"></span></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </script>
    <script id="template-estanque-editar" type="text/x-template">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="modal-formLabel">Modificar datos del estanque</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label for="title" class="col-sm-2 control-label">Nombre</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="title" placeholder="Nombre" value="<%= nombre %>" autofocus>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="description" class="col-sm-2 control-label">Forma</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="forma" placeholder="" value=<%= forma %>>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="description" class="col-sm-2 control-label">Material</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="material" placeholder="Material" value=<%= material %>>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="description" class="col-sm-2 control-label">Volumen</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="volumen" placeholder="" value=<%= volumen %>>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="description" class="col-sm-2 control-label">Dimensiones</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="dimensiones" placeholder="" value=<%= dimensiones %>>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="reset" class="btn btn-danger" data-dismiss="modal">Cerrar <span class="glyphicon glyphicon-remove"></span></button>
                                    <button type="submit" class="btn btn-primary">Guardar cambios <span class="glyphicon glyphicon-plus"></span></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
    </script>

    <script src="./backbone.marionette/json2.js"></script>
    <script src="./backbone.marionette/jquery.js"></script>
    <script src="./js/jquery-migrate-1.2.1.min.js"></script>
    <script src="./js/jquery.serializeJSON.min.js"></script>
    <script src="./js/jquery/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="/_utils/script/jquery.couch.js"></script>
    <script src="./backbone.marionette/underscore.js"></script>
    <script src="./backbone.marionette/backbone.js"></script>
    <script src="./backbone.marionette/backbone.marionette.min.js"></script>
    <script src="./js/backbone-couchdb.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/autobahn.min.js"></script>
    <script src="./js/TanTan.js"></script>
    <script src="./js/TanTan.Sync.js"></script>
    <script src="./js/TanTan.Docs.js"></script>
    <script src="./js/TanTan.Nav.js"></script>
    <script src="./js/TanTan.Granja.js"></script>
    <script src="./js/TanTan.Estanque.js"></script>
    <script src="./js/TanTan.Control.js"></script>
    <script src="./js/TanTan.App.js"></script>
</html>
